@layer base, theme, components, utilities;

@import "tailwindcss" layer(base);
@plugin "daisyui";

@layer theme {
    @theme {
        --color-*: initial;

        --color-text: #0C1618;
        --color-border: 1px solid rgba(12, 22, 24, 0.2);


        --color-primary-1-50: #f0f2f5;
        --color-primary-1-100: #bad4f1;
        --color-primary-1-200: #8ab7e8;
        --color-primary-1-300: #5a99de;
        --color-primary-1-400: #2a7cd5;
        --color-primary-1-500: #2160a5;
        --color-primary-1-600: #174475;
        --color-primary-1-700: #0e2845;
        --color-primary-1-800: #040c15;
        --color-primary-2-50: #f0f0f5;
        --color-primary-2-100: #bbbaf1;
        --color-primary-2-200: #8c8ae8;
        --color-primary-2-300: #5d5ade;
        --color-primary-2-400: #2e2ad5;
        --color-primary-2-500: #2321a5;
        --color-primary-2-600: #191775;
        --color-primary-2-700: #0f0e45;
        --color-primary-2-800: #050415;
        --color-primary-3-50: #f0f5f5;
        --color-primary-3-100: #baf0f1;
        --color-primary-3-200: #8ae6e8;
        --color-primary-3-300: #5adcde;
        --color-primary-3-400: #2ad1d5;
        --color-primary-3-500: #21a2a5;
        --color-primary-3-600: #177375;
        --color-primary-3-700: #0e4445;
        --color-primary-3-800: #041515;

        --default-font-family: "Arimo", sans-serif;
    }

    body {
        background: var(--color-primary-2-50);
    }

    html, body, #app {
        min-height: 100vh;
        width: 100vw;
        padding: 0;
        margin: 0;
    }

    #app {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav {
        @apply p-4;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 2rem;
        position: sticky;
        width: 100vw;
        font-size: var(--text-lg);
        @apply drop-shadow-lg;

        align-items: center;
        text-align: center;

        background: var(--color-primary-2-200);
    }

    main {
        display: flex;
        flex: auto;
        vertical-align: center;
        text-align: center;
        align-items: center;
    }

    footer {
        @apply font-medium leading-tight;
        @apply drop-shadow-xl;
        @apply p-4;
        display: block;
        text-align: center;
        min-height: 2rem;

        border-radius: 0.5rem 0.5rem 0 0;

        background: var(--color-primary-1-50);
        border: var(--color-border);
        border-bottom: 0;
    }
    a, button {
        cursor: pointer;
    }
    hr {
        margin-block: .7rem;
    }
}
@layer components {
}